<ion-header>
  <ion-toolbar>
    <ion-title>Subcription Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let sub of subs">
    <ion-item-sliding>
      <ion-item>
        <ion-label class="ion-padding"
          ><strong>{{sub.subs_name}} </strong>
          <ion-badge color="primary">{{sub.billing_date}}</ion-badge>
          <ion-text>
            <h4><strong>Subs Cost: </strong> $ {{sub.subs_price}}</h4>
            <h4><strong>Subs Type: </strong> {{sub.payment_method_type}}</h4>
            <h4><strong>Subs Note: </strong> {{sub.payment_method_used}}</h4>
          </ion-text>
        </ion-label>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option
          (click)="deleteSubs(sub.subs_name, sub.id)"
          color="danger"
          class="ion-padding-horizontal"
          >Delete</ion-item-option
        >
        <ion-item-option
          (click)="editSubs(sub.id,sub)"
          color="primary"
          class="ion-padding-horizontal"
          >Edit</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <!-- Ion Fab -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button [routerLink]="['/add-subs']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
