<ion-header>
  <ion-toolbar>
    <ion-title>Subcription Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let sub of subs">
    <ion-card-header>
      <ion-card-subtitle>{{sub.payment_method_type}}</ion-card-subtitle>
      <ion-card-title>{{sub.subs_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Payment Method : {{sub.payment_method_used}}
      <br />
      Billing Date: {{sub.billing_date}}
    </ion-card-content>
  </ion-card>

  <!-- Ion Fab -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button [routerLink]="['/add-subs']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
